<h1 class="text-center text-primary bg-dark col-12">TODO LIST IN ANGULAR</h1>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="newTask">Enter Task:</label>
      <input
        type="text"
        class="form-control"
        id="newTask"
        [(ngModel)]="todoInput"
      />
    </div>
  </div>
  <div class="col-3 mt-3">
    <button
      class="btn btn-success"
      (click)="addTask()"
      [disabled]="!todoInput.length"
    >
      Add Task
    </button>
  </div>
  <div class="col-3 mt-3">
    <button
      class="btn btn-danger"
      (click)="restForm()"
      [disabled]="!todoInput.length"
    >
      RESET Task
    </button>
  </div>
</div>
