<!-- <h1 class="text-center text-primary bg-dark col-12">TODO LIST IN ANGULAR</h1>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="newTask">Enter Task:</label>
      <input type="text" name="none" value="prasanna" id="newTask" />
    </div>
  </div>
  <div class="col-3">
    <button class="btn btn-success">Add Task</button>
  </div>
  <div class="col-3">
    <button class="btn btn-danger">RESET Task</button>
  </div>
</div> -->

<div class="container">
  <app-todoform></app-todoform>
  <app-todolist></app-todolist>
</div>
